<!-- <header class="site-header"> -->


 <nav class="navbar navbar-fixed-top navbar-transparent">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li id = "voice-home" class="active"><a href="#home">Home</a></li>
            <li id = "voice-profile"><a href="#profile">Profile</a></li>
            <li id = "voice-skills"><a href="#skills">Skills</a></li>
            <li id = "voice-portfolio"><a href="#portfolio">Portfolio</a></li>
            <li id = "voice-contact"><a href="#contact-me">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
