<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{"/css/animate.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{"/css/typeIt.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{"/css/pushy.css" | prepend: site.baseurl }}">
  <script src="{{"js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{"js/annyang.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{"js/wow.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{"js/jquery.particleground.js" | prepend: site.baseurl }}"></script>
  <script src="{{"js/jquery.particleground.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{"js/typeIt.js" | prepend: site.baseurl }}"></script>
  <script src="{{"js/pushy.min.js" | prepend: site.baseurl }}"></script>
  
  <script src="{{"js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  
  <script type='text/javascript' src="{{"js/bootbox.min.js" | prepend: site.baseurl }}"></script>
  <script type='text/javascript' src="{{"js/quicksand.js" | prepend: site.baseurl }}"></script>

  <script type='text/javascript' src="{{"js/portfolio.js" | prepend: site.baseurl }}"></script>
  <script type='text/javascript' src="{{"js/rainyday.js" | prepend: site.baseurl }}"></script>

  
  <script type='text/javascript' src="{{"js/homebg.js" | prepend: site.baseurl }}"></script>


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
