body {
	// position: relative;
	max-width: 100%;
	overflow-x: hidden;

	ul
		{
		list-style-type: none;
		}

		ul li {
			display:inline;
		}
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	font-size: 45px; //63px
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight:600;
	font-size:32px;
	color: #2c3e50;
}

h3 {
    font-family: 'Satisfy', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}

h4 {
	font-family: 'Titillium Web', sans-serif;
	font-weight:600;
	font-size:21px;
	margin-bottom:10px;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	color:#444;
}

.fa-microphone {
	color: #F64D4A;
}