.navbar-transparent {
	background: transparent;
}

.navbar, .nav-pills {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 16px;
}
nav {
	background-color: transparent;
	transition: background-color 0.5s ease-in;

	&.affix {
		background-color: black;
		opacity:0.7;
	}
}

.nav > li > a {
	padding:7px 15px;
	margin: 10px 7px;
	color:#fff;

	&:hover {
		background-color: transparent;
		border:1px solid #f5f5f5;
		padding:6px 14px;
		transition:all 0.6s linear 0;
	}

	&:active {
		background-color: transparent;
		padding:6px 14px;
		border:1px solid #f5f5f5;

	}

	&:focus{
		background-color: transparent;
		border:1px solid #f5f5f5;
		padding:6px 14px;
	}

}


nav.pushy-open {
	width: 555px;
	background-color: rgba(31,119,78,0.94);

	ul {
		padding-left: 23px;

		&:first-of-type {
			margin-top: 120px;
			margin-bottom: 20px;
		}

		.pushy-heading {
			color: rgb(245, 245, 38);
			font-size: 20px;
		}
	}
	p {
		color: #fff;
	}
}

#home {
	// position:relative;
	min-height: 100vmin;
	background-image: url("../img/bg9.jpg");
	background-size: cover;

	.move-up-name {
		position: relative;
		margin-top:-65vh;

		transform:translateY(-100%);
		text-align:center;

	}

	.rel {
		position: relative;
	}

	.name h1 {
		color:#fff;
		border:2px solid #fff;
		width:60%;
		padding: 15px 30px;
		display:inline-block;
		// position: absolute;
		// top: -65vmin;
		// left:50%;
		// transform: translateX(-50%);
		
	}

	.full-stack h3{
	// position: absolute;
	// top: -50vmin;
	// left:50%;
	// transform: translateX(-50%);
	
	color:#fff;
	display:inline-block;
}

.fa-heart{
	// position: absolute;
	// top: -48vmin;
	// left:39%;
	// transform: translateX(-39%);
	font-size: 18px;
	color:red;
}

.bolt2{
	// position: absolute;
	// top: -48vmin;
	// left:61%;
	// transform: translateX(-61%);
	color:#fff;
}


#scroll-down {
	position: absolute;
	bottom:2%;
	left:47%;
	
	.fa-angle-double-down {
		color: #f5f5f5;
	}

}
}

#profile {
	min-height:540px;
	position:relative;

	background-image: url('../img/profile_bg.png');
	background-repeat: no-repeat;
	background-position: bottom center;

	// h2{
	// 	// margin-top: 9vmin;
	// 	margin-bottom: 3vmin;
	// }

	hr {
		margin-top: 110px;
		border-width:5px;
		width:25%;
		transform: translateX(-6%);
		border-color:#c8d9e5;
		// position:relative;
		// left:-5%;

	}

	.profile-heading {
		position:absolute;
		left:48%;
		transform: translateX(-48%);
		margin-top:55px;
	}

	.details {
		font-size:17px;
	}
}

.profile {
	margin-top: 60px;

	.space-before {
		margin-left:40px;
	}

	img {
		margin-top: 10px;
		margin-left: 15px;
		width:80%;
		height:auto;
	}

	.profile-name {
		position:relative;
		left:50%;
		// transform: translateX(-50%);
	}
}

#skills {
	//position:relative;
	margin:0;
	padding-bottom: 30px;
	// min-height:671px;
	background-color: #6dd3e7;

	h2 {
		position:relative;
		left:39%;
		margin-top: -3%;
	}
	
	p {
		font-size: 18px;
	}

	.fa-star, .fa-star-half-o {
		color:#fde921;
	}

	.fa-star-o {
		color:#fde921;
	}
	.star1 {
		position:relative;
		left:34%;
		top: 12px;
		color:#16a085;
	}

	.star2 {
		position:relative;
		left:46%;
		top: 12px;
		color:#16a085;
	}

	hr {
		border-width:5px;
		width:40%;
		border-color:#c8d9e5;
		position:relative;
		left:-5%;
		margin-bottom: 35px;
	}

	.beetle {
		position: relative;
		left:0%;
		top:-58px;
		animation: movecar 9s infinite;
		-moz-animation: movecar 9s infinite;
		-webkit-animation: movecar 9s infinite;
		-o-animation: movecar 9s infinite;
	}

	.move-up-skills {
		position:relative;
		margin-top:-240px;
		z-index: 999;
	}

	.skill-rating {
		margin-bottom: 15px;
	}

	.skill-rating strong {
		padding-left:140px;
		color:#f5f5f5;
	}

	.skill-rating .ruby {
		padding-left:130px;
	}

	.stars {
		padding-left:55px;
	}

}

#portfolio {
	min-height: 1120px;
	
	h2 {
		position:relative;
		left:42%;
		top: 3vmin;
		margin-bottom: 40px;
	}

	hr {
		border-width:5px;
		width:25%;
		border-color:#c8d9e5;
		position:relative;
		left:-2%;
		margin-bottom: 35px;
	}

	.nav-pills li a  {
		color: #777;
		border:1px solid #c1ccd4;
		padding:7px 15px;

		&:hover {
			padding:7px 15px;

		}  

		.img-width {
			width:45%;
			display: inline-block;
		}
	}

	.pills {
		margin-bottom: 30px;
	}

	.all {
		height: 246px;
		margin-bottom: 40px;
	}

}

#contact {
	min-height:450px;
	background-image: url("../img/buildings.jpg");
	background-size: cover;

	// #background {
	// background-size: cover;
	// }
}

#contact-me {
	position:relative;
	min-height: 550px;
	background-color: #ecf0f1;

	a {
		text-decoration: none;
		color: #444;
	}

	h2 {
		position:relative;
		left:42%;
		top: 3vmin;
		margin-bottom: 40px;
	}

	hr {
		border-width:5px;
		width:23%;
		border-color:#c8d9e5;
		position:relative;
		left:-1%;
		margin-bottom: 54px;
	}

	p {
		font-size: 21px;
		padding-top: 5px;

	}

	.phone-row {
		margin-top: 25px;

		p {
			padding-top: 15px;
		}
	}

	#sun {
		position: absolute;
		top:7%;
		left:5%;
	}

	.tree-bird {
		position:absolute;
		bottom: 52px;
		right:16%;
	}

	// #tree {
	// 	position: absolute;
	// 	bottom:52px;
	// 	right:7%;
	// }

	#bird {
		position: absolute;
		left: -39%;
		bottom: 130px;
	}

	#heart {
		position: absolute;
		left:43.5%;
		bottom:23%;
	}

	#grass {
		position: absolute;
		left:0%;
		bottom:0%;
		width:100%;
		height:125px;

	}

	#carpe-diem {
		position: absolute;
		left:46%;
		bottom:21%;
		font-family: 'Satisfy', cursive;
		font-size:28px;

	}

	h4 {
		color:#2c3e50;
	}

}

.tooltip-inner {
	max-width: 400px;
    /* If max-width does not work, try using width instead */
    // width: 350px; 
  }

/* Animation Keyframes*/
@keyframes movecar{
	0%{left:-128px;}
	50%{left:50%;}
	100%{left:100%;}
}

@-moz-keyframes movecar{
	0%{left:-128px;}
	50%{left:50%;}
	100%{left:100%;}
}

@-webkit-keyframes movecar{
	0%{left:-128px;}
	50%{left:50%;}
	100%{left:100%;}
}

@-o-keyframes movecar{
	0%{left:-128px;}
	50%{left:50%;}
	100%{left:100%;}
}

/*Clouds*/
// #portfolio {
// 	background: #6dd3e7;
// 	color: #333;
// 	font: 100% Arial, Sans Serif;
// 	height: 72vmin;
// 	margin: 0;
// 	padding: 0;
// 	overflow: visible;
// }

// #background-wrap {
//     bottom: 0;
// 	left: 0;
// 	padding-top: 50px;
// 	position: fixed;
// 	right: 0;
// 	top: 0;
// 	z-index: -1;
// }

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
	0% {
		margin-left: -1000px;
	}
	100% {
		margin-left: 100%;
	}
}

@-moz-keyframes animateCloud {
	0% {
		margin-left: -1000px;
	}
	100% {
		margin-left: 100%;
	}
}

@keyframes animateCloud {
	0% {
		margin-left: -1000px;
	}
	100% {
		margin-left: 100%;
	}
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
	background: #fff;
	content: '';
	position: absolute;
	z-index: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

